[submodule "vendor/imgui"]
	path = vendor/imgui
	url = http://github.com/bgsa/imgui.git
[submodule "sp-foundation"]
	path = sp-foundation
	url = https://github.com/bgsa/sp-foundation.git
[submodule "sp-frontend"]
        path = sp-frontend
        url = https://github.com/bgsa/sp-frontend.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "sp-physics"]
	path = sp-physics
	url = https://github.com/bgsa/sp-physics.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/gtest-runner"]
	path = vendor/gtest-runner
	url = https://github.com/nholthaus/gtest-runner.git
[submodule "vendor/OpenCL-Headers"]
	path = vendor/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "vendor/OpenCL-ICD-Loader"]
	path = vendor/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
[submodule "sp-rendering"]
	path = sp-rendering
	url = https://github.com/bgsa/sp-rendering.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
