*vcxproj.user
.DS_Store
.vs/
Debug/
Release/
x64/
vendor/lib
vendor/lib/x86/**
vendor/lib/x86_64/**
vendor/bin
vendor/include
vendor/include/pugixml/
vendor/include/imgui/
vendor/include/GL/**.*
vendor/include/pugixml/